@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


body {
    font-size: 20px;
    font-family: sans-serif;
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0px 0px 0px;
    margin-top: 20px;
}

.outer-circle {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-image: linear-gradient(red, blue, yellow, orange, pink);
    margin-top: 30px;
}

.inner-circle {
    width: 215px;
    height: 215px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.display {
    display: flex;
    left: 50%;
    align-items: center;
    justify-content: center;
    font-family: "nunito", "poppins", sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: white;
    text-shadow: 1px 1px 0px rgba(150, 150, 150, 1);
    margin-top: 60px;
}

p {
    margin: 5px;
}

.buttons {
    display: flex;
    width: 250px;
    justify-content: space-between;
    align-items: center;
}

button:hover {
    background-color: white;
    color: black;
}

button {
    cursor: pointer;
    outline: none;
    font-family: "nunito", "poppins", sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: white;
    box-shadow: 2px 2px 0px lightblue;
    margin: 4px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: black;
}



h1 {
    position: sticky;
    text-decoration-line: underline;
    display: flex;
    justify-content: center;
    margin: 30px;
    font-family: "nunito", "poppins", sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: lightblue;
    text-shadow: 1px 1px 0px rgba(150, 150, 150, 1);
    border-radius: 10px;

}

#header {
    width: 100%;
    height: 100px;
    position: sticky;
}

#laps {
    margin-top: 40px;
    height: 400px;
    color: white;
    text-align: center;
    scroll-behavior: smooth;
}